[project]
	description = The SIMP Product Documentation
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jacobgingrich-op (jacobgingrich-op)
[access "refs/for/refs/*"]
	read = group user/jacobgingrich-op (jacobgingrich-op)
	push = group user/jacobgingrich-op (jacobgingrich-op)
	label-Code-Review = -2..+2 group user/jacobgingrich-op (jacobgingrich-op)
	label-Verified = -1..+1 group user/jacobgingrich-op (jacobgingrich-op)
	rebase = group user/jacobgingrich-op (jacobgingrich-op)
	removeReviewer = group user/jacobgingrich-op (jacobgingrich-op)
	submit = group user/jacobgingrich-op (jacobgingrich-op)
[access "refs/heads/*"]
	read = group user/jacobgingrich-op (jacobgingrich-op)
	create = group user/jacobgingrich-op (jacobgingrich-op)
	push = +force group user/jacobgingrich-op (jacobgingrich-op)
	pushMerge = group user/jacobgingrich-op (jacobgingrich-op)
[access "refs/tags/*"]
	push = +force group user/jacobgingrich-op (jacobgingrich-op)
	pushTag = group user/jacobgingrich-op (jacobgingrich-op)
	pushSignedTag = group user/jacobgingrich-op (jacobgingrich-op)
